html
    head
        title= 'Add new client'
        style
            include ../css/style.css
    body

        div(class="registration-form")
            h3= 'Registration page'
            form(role="form" method="POST" action="/clients/add")
                label(for="reg__client-name")= 'Enter your name'
                input(type="text" placeholder="Enter nickname" id="reg__client-name" name="clientName")
                label(for="reg__client-password")= 'Enter your password'
                input(type="password" placeholder="Enter password" id="reg__client-password"  name="password")
                button(type=submit)= 'SEND'
                br
                a(class="back-to-main-page" href="/")= 'Back to main page'