html
    head
        title= 'Main page'
        style
            include ../css/style.css
        body
            span= message
            h3(class="main-page-title")= 'Main page'
            nav(class="main-page-nav")
                a(class="show-all-clients" href="/clients")= 'Show all clients'
                a(class="log-out" href="/logout")= 'Log Out'
                a(class="pizza-menu" href="/menu")= 'Pizza menu'